@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* header */

.home-header {
    background-image: url(../images/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
    padding: 0;
}

.home-sns {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    gap: 15px;
}

.normal-header {
    background-image: url(../images/header1.jpg), url(../images/header2.jpg), url(../images/header3.jpg), url(../images/header4.jpg);
    background-repeat: no-repeat;
    background-size: 25% 100%;
    background-position: 0% 0, 33.3% 0, 66.6% 0, 99.9% 0;
    height: 35vh;
    padding: 0;
}

.blur {
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
}

.main-header {
    text-align: center;
    font-size: 2rem;
    margin-left: 20px;
    padding-top: 30px;
    color: #000;
    -webkit-text-stroke: 0.6px #fff
}

.sub-header {
    text-align: center;
    font-size: 1.3rem;
    margin-left: 30px;
    -webkit-text-stroke: 0.4px #fff
}
.normal-sns {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    gap: 15px;
    margin-top: 30px;
    
}

nav div li {
    list-style: none;
}

/* Breadcrumb */

.breadcrumb *, .breadcrumb *:after, .breadcrumb *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .breadcrumb {
    margin-top: 50px;
    padding: 1em 2em;
    background-color: #ede8e8;
    color: #fff;
    border-radius: 0.5em;
  }
  .breadcrumb a {
    text-decoration: none;
    color: #223a70;
  }
  .breadcrumb .breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .breadcrumb li {
    display: inline-block;
    position: relative;
    padding-right: calc(16px + 8px);
    margin-right: 8px;
    color: #f00b0b;
  }
  .breadcrumb li::before {
    content: '›';
    width: 1em;
    height: 1em;
    line-height: 1;
    text-align: center;
    font-size: 1em;
    color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .breadcrumb li:last-child {
    margin-right: 0;
    padding-right: 0;
    color: #223a70;
  }
  .breadcrumb li:last-child::before {
    content: normal;
  }

/* main */

.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* 記事部分 */
/* 共通 */
article {
    width: 74%;
}

section {
    padding: 2em;
    margin: 1em 0;
}

section h2 {
    font-size: 1.8rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

/* SLC_home */
.home_red {
    font-size: 1.3rem;
    color: #fd1b1b;
}

.home_contents {
    font-size: 1.5rem;
    border-bottom: 1px solid #333;
}

/* SLC_members */
.member_position {
    font-size: 1.5rem;
}

.member_contents {
    display: flex;
    justify-content: space-between;
}

.member_contents_list {
    list-style: none;
    padding: 10px;
}

.member_name {
    font-size: 1.3rem;
}

.member_introduction {
    font-size: 1rem;
}

/* SLC_schedule */
.month{
    font-size: 1.3rem;   
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
}

.schedule_images_list {
    display: flex;
    justify-content: space-around;
}

.schedule_images {
    list-style: none;
}

#April {
    background: #fcbadf;
}
#May {
    background: #87b2eb;
}
#June {
    background: #dd9ff4;
}
#July {
    background: #a8f7af;
}
#August {
    background: rgb(237, 228, 134);
}
#September {
    background: #eebc82;
}
#October {
    background: #f7daba;
}
#November {
    background: #e0ded7;
}
#December {
    background: #c8ebed;
}
#January {
    background: #fd7a7a;
}
#February {
    background: #b8f1e0;
}
#March {
    background: #9be0b5;
}

/* SLC_activities */

/* サイドバー */

aside {
    width: 22%;
}

.sub-title {
    font-size: 1.15rem;
    padding: 0 8px 8px;
    border-bottom: 2px #000 solid;
    font-weight: normal;
}

.sub-menu {
    margin-bottom: 100px;
}

/* footer */
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* SNSプラグイン */

.plagin {
    background: #FAF7F0;
    padding: 4% 0;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.sub-sns {
    margin-bottom: 30px;
    border-bottom: 2px #000 solid;
}

.sns-box {
    width: 30%;
}

/* ------モバイル版------ */

@media (max-width: 600px) {
    
    header {
        height: 22.5vh;

    }
    
    .blur {
        backdrop-filter: blur(4px);
        width: 100%;
        height: 100%;
    }

    .home-header {
        width: 600px;
    }
    .main-header {
        font-size: 1.5rem;
    }

    .sub-header {
        font-size: 1rem;
        line-height: 50%;
    }

    .home-sns {
        margin-top: 190px;
        padding-top: 10px;
    }

    .normal-sns {
        margin-top: 60px;
        padding-top: 10px;
        }

    .news-contents {
        flex-direction: column;
    }

    article,
    aside {
        width: 100%;
    }

    .member_contents,
    .schedule_images_list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

 /* SNSプラグイン */
    .wrapper {
        flex-direction: column;
    }

    .sns-box {
        width: 90%;
    }

    .sub-sns,
    .sns-box {
        padding-left: 20px;
    }
}
